<main class="background_3">
  <section class="background_white margin-vertical_small">
    <div class="shop-item">
      <div class="shop-item__image-choice">
        {{#each data.imagePaths}}
        <div class="shop-item__image-choice__element" id="image-{{@index}}" onclick="switchBigImage(this.id)">
          <img src="/assets/pictures/shop/{{this}}">
        </div>
        {{/each}}
      </div>
      <div class="shop-item__big-image">
        <img id="big-image" src="/assets/pictures/shop/{{data.id}}/{{data.id}}-1.png">
      </div>
      <div class="shop-item__description">
        <h1 class="shop-item__description__name">{{data.name}}</h1>
        <h2 class="shop-item__description__price">{{data.price}} ₽</h2>
        <p class="shop-item__description__detail">Размер: {{data.sizeX}} x {{data.sizeY}} cм</p>
      </div>
    </div>
    </div>
    <div class="shop-item-order">
      <div class="shop-item-order__form-container">
        <form class="shop-item-order-form margin-horizontal_large">
          <h1 class="shop-item-order-form__title">Заказ работы "{{data.name}}"</h1>
          <input type="hidden" name="shop_item_id" value="{{data.id}}">
          <h2 class="shop-item-order-form__label">Ваше имя:</h2>
          <input class="shop-item-order-form__input_text" type="text" name="name" required></br>
          <h2 class="shop-item-order-form__label">Ваш E-Mail:</h2>
          <input class="shop-item-order-form__input_text" type="text" name="email" required></br>
          <h2 class="shop-item-order-form__label">Ваш телефон:</h2>
          <input class="shop-item-order-form__input_text" type="text" name="phone" required></br>
          <div class="shop-item-order-form__checkbox">
            <input class="shop-item-order-form__checkbox__button personal-check" type="checkbox" name="personal"
              required>
            <p class="shop-item-order-form__checkbox__label">Я даю согласие на обработку своего имени, E-Mail и
              телефона</p>
          </div>
          <input type="submit" value="Связаться со мной по деталям заказа"
            class="shop-item-order-form__submit-button personal-submit-button" />
        </form>
      </div>
      <div class="shop-item-order__confirmation">
        <h1 class="shop-item-order__confirmation__title">Ваш заказ отправлен!</h1>
        <h2 class="shop-item-order__confirmation__text">Мы свяжемся с Вами по поводу оплаты и доставки в ближайшее
          время!
        </h2>
        <a class="width-100" href="/">
          <button class="shop-item-order__confirmation__go-back-button">Вернуться на главную</button>
        </a>
      </div>
    </div>
    <!--
    <div class="shop-item-error">
      <h1 class="shop-item-error__title">Работа с таким артикулом не найдена!</h1>
      <h2 class="shop-item-error__text">Попробуйте проверить правильность адресной строки.</h2>
      <a class="width-100" href="/">
          <button class="shop-item-error__go-back-button">Вернуться на главную</button>
        </a>
    </div>
    -->
  </section>
</main>
<script src="/javascript/common/image-choice.js"></script>
<script>
  enableImageChoice("shop-item__image-choice", "shop-item__image-choice__element")
</script>
<script src="/javascript/customer/shop-item-order-submit.js">
</script>
<script src="/javascript/customer/personal-check.js"></script>