<a id="{{id}}" href="/administrator/shop/{{id}}" class="admin__shop__item">
  <div class="admin__shop__item__image">
    <img src="/assets/pictures/shop/{{id}}/{{id}}-1.png">
  </div>
  <div class="admin__shop__item__name">{{name}}</div>
  <div class="admin__shop__item__price">{{price}} ₽</div>
</a>