<a class="admin__shop__item" id="shop-item-{{id}}" href="/administrator/shop/{{id}}">
  <div class="admin__shop__item__image">
    <img src="/assets/pictures/shop/{{previewImagePath}}">
  </div>
  <div class="admin__shop__item__name">{{name}}</div>
  <div class="admin__shop__item__price">{{price}} ₽</div>
</a>