<main class="background_3">
  <section class="background_white margin-vertical_small">
    {{#if order_successful includeZero=false}}
    <div class="item-order-confirmation-container">
      <div class="item-order-confirmation">
        <h1 class="item-order-confirmation__title">Ваш заказ отправлен!</h1>
        <h2 class="item-order-confirmation__text">Мы свяжемся с вами по поводу оплаты и доставки в ближайшее время!</h2>
      </div>
    </div>
    {{/if}}
    <div class="item">
      <div class="item__mini-image-choice">
        {{#each image_paths}}
          <div id="{{../item_id}}-{{@index}}" onclick="switchBigImage(this.id)" class="item__mini-image-choice__mini-image">
            <img src="/assets/pictures/shop/{{../item_id}}/{{this}}">
          </div>
        {{/each}}
      </div>
      <div class="item__big-image">
        <img id="big-image" src="/assets/pictures/shop/{{item_id}}/{{item_id}}-1.png">
      </div>
      <div class="item__description">
        <h1 class="item__description__name">{{name}}</h1>
        <h2 class="item__description__price">{{price}} ₽</h2>
        <p class="item__description__detail">Размер: {{size_x}} x {{size_y}} cм</p>
        </div>
      </div>
    </div>
    <div class="item-order-container">
      {{#unless order_successful includeZero=false}}
      <div class="item-order margin-horizontal_large">
        <form action="/item/{{item_id}}/order" method="POST" id="order-form">
          <h1 class="form__title">Заказ работы "{{name}}"</h1>
          <input type="hidden" name="item_id" value="{{item_id}}">
          <input type="hidden" name="frame_option_id" value="{{frame_option_id}}">
          <h2 class="form__label">Ваше имя:</h2>
          <input type="text" class="form__input_text" name="name"></br>
          <h2 class="form__label">Ваш E-Mail:</h2>
          <input type="text" class="form__input_text" name="email"></br>
          <h2 class="form__label">Ваш телефон:</h2>
          <input type="text" class="form__input_text" name="phone"></br>
          <div class="form__checkbox">
            <input type="checkbox" class="form__checkbox__button" name="personal" id="personal-check">
            <p class="form__checkbox__label">Я даю согласие на обработку своего имени, E-Mail и телефона</p>
          </div>
          <input type="submit" value="Связаться со мной по деталям заказа" class="form__order-button" id="order-button"/>
        </form>
      </div>
      {{/unless}}
    </div>
  </div>
</main>
<script>
  var first_image_id = $(".item__mini-image-choice")[0].getElementsByClassName("item__mini-image-choice__mini-image")[0].id
  localStorage.setItem('product-big-image-id', first_image_id);
  $("#" + first_image_id)[0].style.borderStyle = "solid";

  function switchBigImage(image_id)
  {
    var prev_image_id = localStorage.getItem('product-big-image-id');
    $("#big-image")[0].src = $("#" + image_id)[0].getElementsByTagName("img")[0].src;
    $("#" + prev_image_id)[0].style.borderStyle = "double";
    $("#" + image_id)[0].style.borderStyle = "solid";
    localStorage.setItem('product-big-image-id', image_id);
  }
</script>
<script>
  order_button = $('#order-button')[0];
  personal_check = $('#personal-check')[0];
  if (!personal_check.checked)
  {
    order_button.setAttribute('disabled', true);
  }
  personal_check.addEventListener('change', function()
  {
    if (this.checked)
    {
      order_button.removeAttribute('disabled');
    }
    else
    {
      order_button.setAttribute('disabled', true);
    }
  });
</script>