<main>
  <section id="item-editor-section" class="background_white margin-vertical_small">
    <div class="item-editor">
      <div class="item-editor__mini-image-choice">
        {{#each image_paths}}
         <div id="{{../item_id}}-{{@index}}" onclick="switchBigImage(this.id)" class="item-editor__mini-image-choice__image">
          <img src="/assets/pictures/shop/{{../item_id}}/{{this}}">
        </div>
        {{/each}}
        {{#if image_paths}}
        <div id="add-image" onclick="addImage()" class="item-editor__mini-image-choice__add">
          <img src="/assets/pictures/shop/add.png">
        </div>
        {{/if}}
      </div>
      <div class="item-editor__big-image">
        {{#if 0}}
        <img id="big-image" src="/assets/pictures/shop/{{item_id}}/{{item_id}}-1.png">
        {{else}}
        <input id="add-image" type="file"/>
        {{/if}}
      </div>
      <div class="item__description">
        <h1 class="item__description__name">{{name}}</h1>
        <h2 class="item__description__price">{{price}} ₽</h2>
        <p class="item__description__detail">Размер: {{size_x}} x {{size_y}} cм</p>
        </div>
      </div>
    </div>
    <!--
    <div class="item-error">
      <h1 class="item-error__title">Работа с таким артикулом не найдена!</h1>
      <h2 class="item-error__text">Попробуйте проверить правильность адресной строки.</h2>
      <a class="width-100" href="/">
          <button class="item-error__go-back-button">Вернуться на главную</button>
        </a>
    </div>
    -->
  </section>
</main>
<script>
  var first_image_id = $(".item-editor__mini-image-choice")[0].getElementsByClassName("item-editor__mini-image-choice__image")[0].id
  localStorage.setItem('shop-item-big-image-id', first_image_id);
  $("#" + first_image_id)[0].style.borderStyle = "solid";

  function switchBigImage(image_id)
  {
    var prev_image_id = localStorage.getItem('shop-item-big-image-id');
    $("#big-image")[0].src = $("#" + image_id)[0].getElementsByTagName("img")[0].src;
    $("#" + prev_image_id)[0].style.borderStyle = "double";
    $("#" + image_id)[0].style.borderStyle = "solid";
    localStorage.setItem('shop-item-big-image-id', image_id);
  }
</script>
<script>
  function addImage(){

  }
</script>