<a id="{{id}}" href="/item/{{id}}" class="shop__gallery__item">
  <div class="shop__gallery__item__image">
    <img src="/assets/pictures/shop/{{id}}/{{id}}-1.png">
  </div>
  <div class="shop__gallery__item__name">{{name}}</div>
  <div class="shop__gallery__item__price">{{price}} ₽</div>
</a>