<main>
  {{> admin_header_go_to_admin}}
  <section class="background_white margin-vertical_small">
    <form class="admin-shop-item-form">
      <div class="admin-shop-item-form__image-choice">
        <div class="admin-shop-item-form__image-choice__container">
          {{#each shopItem.imagePaths}}
          <div class="admin-shop-item-form__image-choice__element {{../shopItem.id}}-{{@index}}" onclick="switchBigImage(this.id)">
            <img src="/assets/pictures/shop/{{this}}">
          </div>
          {{/each}}
        </div>
        {{#if (hasLessThan10Elements data.image_paths)}}
        <div class="admin-shop-item-form__image-choice__add" onclick="addImage()">
          <label class="admin-shop-item-form__image-choice__add__label" for="image-upload">
            <img src="/assets/pictures/shop/add.png">
          </label>
          <input class="admin-shop-item-form-form__image-choice__add__input" id="image-upload" type="file" />
        </div>
        {{/if}}
      </div>
      <div class="admin-shop-item-form__big-image">
        <img id="big-image" src="/assets/pictures/shop/{{shopItem.id}}/{{shopItem.id}}-1.png">
      </div>
      <div class="admin-shop-item-form__description">
        <h1>
          <input class="admin-shop-item-form__description__name" type="text" name="name" value="{{shopItem.name}}" />
        </h1>
        <h2>
          <input class="admin-shop-item-form__description__price" type="text" name="price" value="{{shopItem.price}}" />
          ₽
        </h2>
        <p class="admin-shop-item-form__description__detail">
          Размер:
          <input class="admin-shop-item-form__description__size" type="text" name="sizeX" value="{{shopItem.sizeX}}" />
          x
          <input class="admin-shop-item-form__description__size" type="text" name="sizeY" value="{{shopItem.sizeY}}" />
          cм
        </p>
        <div>
          <input class="admin-shop-item-form__submit-button" type="submit" value="Сохранить изменения" />
        </div>
      </div>
    </form>
  </section>
</main>
<script src="/javascript/common/image-choice.js">
  enableImageChoice("admin-shop-item__image-choice", "admin-shop-item__image-choice__element")
</script>
<script src="/javascript/admin/admin-shop-image.js">